.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
   html {
     font-size: 26px;
   }
 
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
 
  .row {
   margin-top: 0;
   margin-bottom: 20px;
   background: white;
  }
 
  #lezioni .row,
  #why .row {
    background: rgb(160, 245, 127);
  }
 
 
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 95%;
    margin: 20px auto;
    float: none;
  }

  #steps .row>.left,
  #steps .row>.central {
    float: left;
    width: 50%;
  }

  #steps .row>.right {
    display: block;
    width: 100%;
  }
 
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
   width: 95%;
   margin: 20px auto;
 }
 
  hr {
    border-color: black;
  }
 
  #why h1 {
    margin-top: 10px;
  } 
 
 }


@media screen and (max-width: 420px) {
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

  html {
    font-size: 26px;
  }

 .container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
 }

 .row {
  margin-top: 0;
  background: white;
 }

 #lezioni .row,
 #why .row {
   background: #F2F2CD;
 }


 #lezioni .row>.left,
 #lezioni .row>.right,
 #steps .row>.left,
 #steps .row>.central,
 #steps .row>.right {
   width: 95%;
   margin: 20px auto;
   float: none;
 }


 #why .row>.first,
 #why .row>.second,
 #why .row>.third {
  width: 95%;
  margin: 20px auto;
}

 hr {
   border-color: black;
 }

 #why h1 {
   margin-top: 10px;
 }

}


